body {
    color: blue;
    background-color: #aaa;
    text-align: justify;
    font-family: "Noto Sans JP";
    padding: 5px;
    margin: 5px 60px;
}
#header {
    text-align: center;
    font-size: 60px;
    margin-top: 70px;
}
#top-bar {
    position: fixed;
    background: #999;
    width: 1235px;
    height: 50px;
}
.links {
    display: inline;
}
.link-style {
    text-decoration: none;
    margin: 100px;
}